extends layout

block content
	.row
		.small-8.large-8.columns
			h1= title
			p Please #{title} using form below.

			if errors
				ul.errors
					each error, i in errors
						li.alert-box.alert #{error.msg}

			article
				form(method='post',action='/users/register',enctype='multipart/form-data')
					.row
						.large-4.columns
							label.inline Your Name
						.large-8.columns
							input#name(type="text", name="name", placeholder="Full name")
					.row
						.large-4.columns
							label.inline Username
						.large-8.columns
							input#name(type="text", name="username", placeholder="Username")
					.row
						.large-4.columns
							label.inline Your Email
						.large-8.columns
							input#email(type="text", name="email", placeholder="email@domain.com")
					.row
						.large-4.columns
							label.inline Password
						.large-8.columns
							input#password(type="password", name="password", placeholder="Enter password")
					.row
						.large-4.columns
							label.inline Password again
						.large-8.columns
							input#password2(type="password", name="password2", placeholder="Confirm password")
					.row
						.large-4.columns
							label.inline Profile image
						.large-8.columns
							input#profileimage(type="file", name="profileimage")
					.row
						.large-8.large-offset-4.columns
							button.button(type="submit") Submit
